@media (min-width: 1921px) {
.navbar-light .nav-link {
    padding: 7px 30px 7px 0px !important;
}
.about_imgs img {
    min-width: 100%;
}
.skill-wrap-img {
    background: #0081D2;
}
.textP div {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
    color: #000;
}
.accordion-body {
    background: transparent;
    color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
}
.serv-head {
    margin: 0 auto 38px auto;
    width: 70%;
}
.port-box {
    margin: 0 15px;
}
.port-box h3 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
}
}
/* 1921 */
@media (max-width: 1920.98px) {
.navbar-light .nav-link {
    padding: 7px 30px 7px 0px !important;
}
.about_imgs img {
    min-width: 100%;
}
.skill-wrap-img {
    background: #0081D2;
}
.textP div {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    color: #000;
}
.accordion-body {
    /* background: transparent; */
    color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
}
.serv-head {
    margin: 0 auto 38px auto;
    width: 70%;
}
.port-box {
    margin: 0 15px;
}
.port-box h3 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
}
}
/* 1400-1920 */
@media (max-width: 1399.98px) {
.navbar-light .nav-link {
    padding: 7px 20px 7px 0px !important;
}
.navbar-brand img {
    max-width: 200px;
}
.breadcrumbWrap, .section-padding, .meter-area {
    padding: 90px 0;
}
.why_abt, .section-abuts {
    padding-bottom: 50px;
}
.inner-page-title {
    font-size: 32px;
}
.textP div {
    font-size: 16px;
}
.inner-page-title-small {
    font-size: 32px;
    margin-bottom: 20px;
}
.serv-head h1.inner-page-title.mb-2.text-center {
    font-size: 32px;
}
.accordion-body, .serv-head p.text-center {
    font-size: 16px;
    line-height: 26px;
}
.inner-page-title{
    font-size:34px!important;
}
.inner-page-text{
    font-size:17px;
}
.skill-wrap-head-text{
    font-size:19px!important;
}
.sill-wrap-text, .job-experience-txt, .skill-wrap button {
    font-size:15px!important;
}
.about_texts h1 {
    font-size: 34px;
    line-height: 41px;
}
.about_texts p {
    font-size: 17px;
    line-height: 27px;
}
.services-text h2 {
    font-size: 28px;
    line-height: 35px;
}
.services-text p {
    font-size: 15px;
    line-height: 22px;
}
.proc-btn {
    font-size: 18px;
    line-height: 23px;
}
.job-details-block-card h2{font-size:34px;}
.job-details-inner-block li{font-size:16px;}
.job-details-title{font-size:19px;}
}
/* 1200-1399 */
@media (max-width: 1199.98px) {
.navbar-brand img {
    max-width: 150px;
}
.navbar-light .nav-link {
    padding: 7px 10px 7px 0px !important;
}
.navbar-light .nav-link {
    font-size: 13px;
}
.about_imgs {
    padding-right: 0;
}
.about_texts h1, .why_abuts h2, .meter-box span, .breadcrumbWrap .pageTitle {
    font-size: 32px;
    line-height: 42px;
}
.about_texts p, .our_box_mi p, .why_abuts ul li, .meter-box p, .breadcrumbWrap .pgNameListing ul li, .breadcrumbWrap .pgNameListing ul li a {
    font-size: 16px;
    line-height: 23px;
}
.our_box_mi h2, .meter-area h2 {
    font-size: 24px;
    line-height: 28px;
}
.meter-area h2 {
    margin: 0;
    padding: 0;
}
.breadcrumbWrap, .section-padding, .meter-area {
    padding: 40px 0;
}
.why_abt, .section-abuts {
    padding-bottom: 40px;
}
.inner-page-title {
    font-size: 24px;
}
.skill-wrap-head-text, .sill-wrap-text {
    font-size: 16px;
}
.inner-page-title-small, .serv-head h1.inner-page-title.mb-2.text-center {
    font-size: 24px;
}
.port-box h3, .accordion-header .accordion-button, .accordion-header {
    font-size: 18px;
}
.accordion-header .accordion-button:not(.collapsed) {
    font-size: 18px;
}
.inner-page-title{
    font-size:32px!important;
}
.inner-page-text{
    font-size:17px;
}
.skill-wrap-head-text{
    font-size:18px!important;
}
.sill-wrap-text, .job-experience-txt, .skill-wrap button {
    font-size:14px!important;
}
.about_texts h1 {
    font-size: 32px;
    line-height: 39px;
}
.services-text h2 {
    font-size: 26px;
    line-height: 33px;
}
.job-details-block-card h2{font-size:32px;}
.job-details-inner-block li{font-size:16px;}
.job-details-title{font-size:18px;}
}
/* 992-1199 */
@media (max-width: 991.98px) {
.breadcrumbWrap, .section-padding, .meter-area {
    padding: 30px 0;
}
.why_abt, .section-abuts {
    padding-bottom: 30px;
}
.why_abuts {
    padding-top: 30px;
}
.about_texts h1, .why_abuts h2, .meter-box span, .breadcrumbWrap .pageTitle {
    font-size: 24px;
    line-height: 33px;
}
.py-5.container {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}
.inner-page-title {
    font-size: 20px;
}
.textP div, .sill-wrap-text {
    font-size: 14px;
            line-height: 21px;
}
.pgNameListing ul li:before {
    top: 0;
}
.serv-head {
    width: 100%;
}
.accordion-body, .serv-head p.text-center {
    font-size: 14px;
    line-height: 21px;
}
.port-box h3, .accordion-header .accordion-button, .accordion-header {
    font-size: 16px;
}
.accordion-header .accordion-button:not(.collapsed) {
    font-size: 16px;
}
.port-box h3 {
    padding: 15px;
}
.inner-page-title{
    font-size:28px!important;
}
.inner-page-text{
    font-size:16px;
}
.skill-wrap-head-text{
    font-size:17px!important;
}
.sill-wrap-text, .job-experience-txt, .skill-wrap button {
    font-size:14px!important;
}
.about_texts h1 {
    font-size: 28px;
    line-height: 35px;
}
.about_texts p {
    font-size: 16px;
    line-height: 23px;
}
.services-text h2 {
    font-size: 24px;
    line-height: 31px;
}
.services-text p {
    font-size: 14px;
    line-height: 21px;
}
.proc-btn {
    font-size: 17px;
    line-height: 24px;
}
.job-details-block-card h2{font-size:28px;}
.job-details-inner-block li{font-size:16px;}
.job-details-title{font-size:17px;}


/* nav css */
nav .container {
    position: relative;
}
.navbar-nav-scroll {
    overflow-y: unset;
    max-height: unset!important;
    background: #fff;
}
.navbar-light .dropdown-menu {
    border-radius: 0;
}
.navbar-collapse {
        position: absolute;
        width: 100%;
        background: #fff;
        top: 111%;
        left: 0;
        z-index: 99;
        padding: 15px;
    }
}
/* end */


/* 768-991 */
@media (max-width: 767.98px) {
.breadcrumbWrap, .section-padding, .meter-area {
    padding: 25px 0;
}
.why_abt, .section-abuts {
    padding-bottom: 25px;
}
.why_abuts {
    padding-top: 25px;
}
.about_texts h1, .why_abuts h2, .meter-box span, .breadcrumbWrap .pageTitle, .our_box_mi h2, .meter-area h2 {
    font-size: 20px;
    line-height: 27px;
}
.about_texts p, .our_box_mi p, .why_abuts ul li, .meter-box p, .breadcrumbWrap .pgNameListing ul li, .breadcrumbWrap .pgNameListing ul li a {
    font-size: 14px;
    line-height: 21px;
}
.our_box_mi {
    padding: 25px;
}
.meter-box {
    width: 50%;
}
.our_misson_boxs {
    padding-right: 0;
}
.ser_rea {
    padding: 25px 0;
}
.ser_rea .about_texts {
    padding: 0 25px;
}
.award-section img {
    max-width: 100%;
    height: unset;
}
.meter-box p {
    margin: 0;
}
.inner-page-title {
    font-size: 18px;
}
.skill-image175, .sill-wrap-text {
    min-height: unset;
}
.pb-5.container {
    padding-bottom: 15px!important;
}
.inner-page-title-small, .serv-head h1.inner-page-title.mb-2.text-center {
    font-size: 20px;
}
.inner-page-title{
    font-size:24px!important;
}
.inner-page-text{
    font-size:15px;
}
.skill-wrap-head-text{
    font-size:16px!important;
}
.sill-wrap-text, .job-experience-txt, .skill-wrap button {
    font-size:13px!important;
}
.about_texts h1 {
    font-size: 24px;
    line-height: 31px;
}
.about_texts p {
    font-size: 15px;
    line-height: 22px;
}
.services-text h2 {
    font-size: 22px;
    line-height: 29px;
}
.services-text p {
    font-size: 14px;
    line-height: 21px;
}
.proc-btn {
    font-size: 16px;
    line-height: 23px;
}
.job-details-block-card h2{font-size:24px;}
.job-details-inner-block li{font-size:15px;}
.job-details-title{font-size:16px;}
}
/* 576-767 */
@media (max-width: 575.98px) {
.breadcrumbWrap, .section-padding, .meter-area {
    padding: 15px 0;
}
.why_abt, .section-abuts {
    padding-bottom: 15px;
}
.why_abuts {
    padding-top: 15px;
}
.ser_rea {
    padding: 15px 0;
}
.ser_rea .about_texts {
    padding: 0 15px;
}
.our_box_mi {
    padding: 15px;
}
.about_texts h1, .why_abuts h2, .meter-box span, .breadcrumbWrap .pageTitle, .our_box_mi h2, .meter-area h2 {
    font-size: 18px;
    line-height: 24px;
}
.meter-box {
    padding: 15px;
    margin-top: 15px;
}
.breadcrumbWrap .pageTitle {
    margin-bottom: 0;
}
.inner-page-title-small, .serv-head h1.inner-page-title.mb-2.text-center {
    font-size: 18px;
}
.inner-page-title{
    font-size:22px!important;
}
.inner-page-text{
    font-size:14px;
}
.skill-wrap-head-text{
    font-size:15px!important;
}
.sill-wrap-text, .job-experience-txt, .skill-wrap button {
    font-size:12px!important;
}
.about_texts h1 {
    font-size: 22px;
    line-height: 29px;
}
.about_texts p {
    font-size: 14px;
    line-height: 21px;
}
.services-text h2 {
    font-size: 20px;
    line-height: 27px;
}
.services-text p {
    font-size: 13px;
    line-height: 20px;
}
.proc-btn {
    font-size: 15px;
    line-height: 22px;
}
.job-details-block-card h2{font-size:22px;}
.job-details-inner-block li{font-size:14px;}
.job-details-title{font-size:15px;}
}
.serviceDetailsWrap {
    padding-bottom: 15px;
}
/* 575 */