:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-blue: #0081D2;
  --font-color-veriation-black: #000;
  --font-color-veriation: #000;
  --blue-color-veriation: #0081D2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

/* Header */
.blue-bg {
  background-color: var(--background-blue);
}

.blue-bg ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.p-10 {
  padding: 10px;
}

.navbar a {
  color: var(--font-color-veriation-black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.dropdown-menu.show a {
  border-bottom: 1px solid #efefef;
  width: 100%;
  padding: 10px 15px;
  background: #fff;
}

.dropdown-menu.show a:last-child {
  border-bottom: 1px solid transparent;
}

.main-focus-text {
  color: #fff;
}

.footer-txt {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}

.footer-list {
  margin: 0;
  padding: 0;
}

.footer-list li {
  margin: 0;
  padding: 0;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  text-transform: capitalize;
}

/* Responive */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    border: none;
  }
}

/* Responive For All screens */
@media screen and (max-width: 1399.98px) {
  .navbar a {
    font-size: 0.83rem;
  }
}



:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-blue: #0081D2;
  --font-color-veriation-black: #000;
  --font-color-veriation: #000;
  --blue-color-veriation: #0081D2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --blue-background:#0081D2;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1300px;
}

/* Header */
.blue-bg {
  background-color: var(--background-blue);
}

.p-10 {
  padding: 10px;
}

.navbar a {
  color: var(--font-color-veriation-black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.dropdown-menu.show a {
  border-bottom: 1px solid #efefef;
  width: 100%;
  padding: 10px 15px;
  background: #fff;
}

.dropdown-menu.show a:last-child {
  border-bottom: 1px solid transparent;
}

.main-focus-text {
  color: #fff;
}

/* Footer */
.footer-txt {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}

.footer-list {
  margin: 0;
  padding: 0;
}

.footer-list li {
  margin: 0;
  padding: 0;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  text-transform: capitalize;
}

/* Skills */
.inner-page-title {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: capitalize;

}
.inner-page-text{
font-weight: 600;
line-height: 30px;
font-size: 1.125rem;
;

}
.skill-block{display:flex;}
.skill-wrap{border-radius:8px; border:1px solid #D9D9D9;}
.sill-wrap-head{display:flex;}
.skill-wrap-head-text{
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: capitalize;
  }
.skill-wrap-img{background-color: var(--background-blue);padding:10px;border-radius:3px;}
/* Responive */

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    border: none;
    box-shadow: 0 0 10px #e7e7e7;
  }
}

/* Responive For All screens */
@media screen and (max-width: 1399.98px) {
  .navbar a {
    font-size: 0.83rem;
  }
}